.sub{
  background-color: #00bbec;
  color: white;
  font-weight: bold;
  border: 1px solid;
}
.sub:hover{
  color: #00bbec;
  border-color: #00bbec;
}
select {
  border: 1px solid;
  border-color: #dee2e6;
  width: 100%;
}

table, td{
  color:#808382;
}
body{
  font-family: 'Poppins', sans-serif;
  /* background-image: url(images/bg.jpg); */
  background-color: #d9eff5;
}
/* .seleForFir{
  width: 75%;
} */
.firstTab td{
  border: none;
  padding: 20px;
}
.firstTab select{
  height: 40px;
}
.firstTab input{
  height: 40px;
}
.firstTableCont{
  padding: 40px;
  background-color: white;
}